<h1>Your Cart</h1>
<ul>
	<% @cart.line_items.each do |line_item| %>
		<li><%= line_item.item.name %>: <%= line_item.quantity %></li>
	<% end %>
</ul>
<hr>
<p><strong>Your Total: <%= number_to_currency(@cart.total) %></strong></p>
<br>
<%= button_to "Checkout", checkout_path(id: @cart.id) %>