<p><%= @item.description %></p>
<% if @item.in_stock? %>
	<h4><%= @item.inventory %> left</h4>
<% else %>
	<h4>Out of Stock</h4>
<% end %>
<h4><%= number_to_currency(@item.price) %></h4>
<br>
<% if @item.in_stock? %>
	<%= button_to 'Add to Cart', line_items_path(item_id: @item.id), class: "btn btn-primary" unless current_user.nil? %>
<% end %>