<div class="item-block col-sm-2">
	<%= link_to image_tag(item.image.url, class: "item-block-img"), category_item_path(item.category.id, item.id) %>
	<br>
	<div class="overlay">
		<div class="item-link">
			<%= link_to "#{item.name}", category_item_path(item.category.id, item.id)%>
		</div>
	</div>
</div>