<% if @category %>
	<div class="category-headline">
		<h1><%= @category.name %></h1>
	</div>
<% end %>

<div class="row">
<% @items.each do |item| %>
	<%= render partial: "items/item_block", locals: {item: item} %>
<% end %>
</div>