
<div id="reviews-div">
	<% @reviews.each do |review|%>
		<div class="review-div">
			<% review.star.to_i.times do %>
				<i class="fa fa-star" aria-hidden="true"></i>
			<% end %>
			<h3><%= review.title %></h3>
			<p><%= review.content %></p>
			<hr>
		</div>
	<% end %>
</div>
<div id="review-form-div">
	<a href="/items/<%= @item.id %>/reviews/new" id="new-review-button">Write A Review</a>
</div>
